<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKASH | Projects</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/ak.jpg">
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">


</head>

<body>


    <!-- MAIN CONTENT -->
    <main id="blog-one">

        <!-- CUSTOM CURSOR -->
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>
        <!-- CUSTOM CURSOR -->


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="p">
                <!-- <img src="images/headphone.png" alt="headphone"> -->
            </div>
            <div class="p">Project's Loading...</div>
        </div>
        <!-- PRELOADER -->



        <div id="blog-one-content">

            <!-- HEADING -->

            <div class="heading">
                <span class="text">
                    Project's
                </span>
            </div>

            <!-- HEADING -->


            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                    <a href="index-one.html" class="text">AKASH SINGH</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->


            <div class="center">

                <!-- BLOG-CONTAINER -->

                <div id="blogs-container">


                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/video_call.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">Video call project</div>
                            <div class="blog-description">Utilizing Django's robust framework, I have created a user-friendly interface for initiating and conducting video calls.</div>
                            <div class="blog-info">
                                <div class="blog-type">Click to see this project</div>
                                <a href="project1.html" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- BLOG -->


                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/kk.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">Music streaming project</div>
                            <div class="blog-description">My music streaming project, developed on the Django framework, provides a seamless and immersive music listening experience. </div>
                            <div class="blog-info">
                                <div class="blog-type">Click to see this project</div>

                                <a href="project2.html" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- BLOG -->

                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/ecomm.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">E-com website project</div>
                            <div class="blog-description">With a user-friendly interface and intuitive navigation, the website showcases a wide range of products tailored specifically for women. </div>
                            <div class="blog-info">
                                <div class="blog-type">Click to see this project</div>

                                <a href="project3.html" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- BLOG -->

                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/file.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">File share website</div>
                            <div class="blog-description">Leveraging Rust's performance and reliability, the website offers seamless file upload, storage, and sharing capabilities with robust encryption protocols and user authentication.</div>
                            <div class="blog-info">
                                <div class="blog-type">Click to see this project</div>

                                <a href="project4.html" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- BLOG -->

                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/opencv.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">Computer vision project</div>
                            <div class="blog-description"> By harnessing the power of computer vision algorithms, I designed a robust and intuitive interface that allows users to control and navigate applications effortlessly with just hand gesture.</div>
                            <div class="blog-info">
                                <div class="blog-type">Click to see this project</div>

                                <a href="project5.html" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- BLOG -->

                </div>

                <!-- BLOG-CONTAINER-->

            </div>

            <!-- HEADPHONE IMG -->
            <div class="headphone img text">
                <img src="images/ak.jpg" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->

            <!-- progress-bar -->
            <div class="progress-bar-container fade-in">
                <div class="progressbar"></div>
            </div>
            <!-- progress-bar -->
        </div>



        <!-- NAVIGATION CONTENT -->

        <div class="navigation-content">
            <div class="navigation-logo hover opacity">
                <a href="#" class="text">AKASH SINGH</a>
            </div>
            <ul class="navigation-ul">
                <li><a href="index-one.html" data-text="Home" data-img="#">Home</a></li>
                <li><a href="about-one.html" data-text="About" data-img="#">About</a></li>
                <li><a href="songs-one.html" data-text="Songs" data-img="#">Songs</a></li>
                <li><a href="blog-one.html" data-text="Blogs" data-img="#">Blogs</a></li>
                <li><a href="contact-one.html" data-text="Contact"
                        data-img="#">Contact</a></li>
            </ul>
            <div class="navigation-close hover about-close opacity">
                <div class="navigation-close-line"></div>
                <div class="navigation-close-line"></div>
            </div>

            <div class="project-preview"></div>


            <!-- HEADPHONE IMG -->
            <div class="headphone-navigation opacity">
                <img src="images/ak.jpg" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->


            <!-- SOCIAL MEDIA LINKS -->
            <div class="social-media-links-navigation">
                <ul>
                    <li><a href="#" class="text hover opacity">YT</a></li>
                    <li><a href="#" class="text hover opacity">FB</a></li>
                    <li><a href="#" class="text hover opacity">IG</a></li>
                </ul>
            </div>
            <!-- SOCIAL MEDIA LINKS -->

        </div>

        <!-- NAVIGATION CONTENT -->





    </main>
    <!-- MAIN CONTENT -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
</body>

</html>