<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKASH | Portfolio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/ak.jpg">
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">


</head>

<body>


    <!-- MAIN CONTENT -->
    <main id="blog-one">

        <!-- CUSTOM CURSOR -->
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>
        <!-- CUSTOM CURSOR -->


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="p">
                <!-- <img src="images/headphone.png" alt="headphone"> -->
            </div>
            <div class="p">Portfolio Loading...</div>
        </div>
        <!-- PRELOADER -->



        <div id="blog-one-content">

            <!-- HEADING -->

            <div class="heading">
                <span class="text">
                    About Me
                </span>
            </div>

            <!-- HEADING -->


            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                    <a href="index-one.html" class="text">AKASH SINGH</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->


            <div class="center">

                <!-- BLOG-CONTAINER -->

                <div id="blogs-container">


                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/ll.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">About me</div>
                            <div class="blog-description">Experienced web and app developer skilled in creating dynamic and user-friendly digital solutions.Proficient in django, and various frameworks.</div>
                            <div class="blog-info">
                                <div class="blog-type">Click to know more about me</div>
                                <a href="blog-single.html" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- BLOG -->


                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/project1.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">Project's</div>
                            <div class="blog-description">As a web and app developer, I have had the privilege of working on a wide range of projects, each with its unique set of challenges and objectives.</div>
                            <div class="blog-info">
                                <div class="blog-type">Click to see all projects</div>

                                <a href="blog-single1.html" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- BLOG -->

                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/project 3.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">Experience</div>
                            <div class="blog-description">With several years of experience as a web and app developer, I have had the opportunity to work on a diverse range of projects and collaborate with clients from various industries.</div>
                            <div class="blog-info">
                                <div class="blog-type">Click to see my experience's</div>

                                <a href="exp.html" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- BLOG -->

                    <!-- BLOG -->
                    <div class="blog fade-up">
                        <div class="blog-img">
                            <img src="images/connect.png" alt="blog-img">
                        </div>
                        <div class="blog-text">
                            <div class="blog-heading">Contact with me</div>
                            <div class="blog-description">Feel free to reach out to me for any inquiries or collaboration opportunities.I am readily available and accessible through multiple communication channels, including email and phone.</div>
                            <div class="blog-info">
                                <div class="blog-type">Click to contact me</div>

                                <a href="https://akashprofile.my.canva.site/light-blue-simple-light-app-download-website" title="Read More">
                                    <div class="blog-read-more">
                                        <i class="gg-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- BLOG -->

                </div>

                <!-- BLOG-CONTAINER-->

            </div>

            <!-- HEADPHONE IMG -->
            <div class="headphone img text">
                <img src="images/ak.jpg" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->

            <!-- progress-bar -->
            <div class="progress-bar-container fade-in">
                <div class="progressbar"></div>
            </div>
            <!-- progress-bar -->
        </div>



        <!-- NAVIGATION CONTENT -->

        <div class="navigation-content">
            <div class="navigation-logo hover opacity">
                <a href="#" class="text">AKASH SINGH</a>
            </div>
            <ul class="navigation-ul">
                <li><a href="index-one.html" data-text="Home" data-img="#">Home</a></li>
                <li><a href="blog-single.html" data-text="About" data-img="#">About</a></li>
                <li><a href="blog-single1.html" data-text="Songs" data-img="#">Project's</a></li>
                <li><a href="exp.html" data-text="Blogs" data-img="#">Experience</a></li>
                <li><a href="https://akashprofile.my.canva.site/light-blue-simple-light-app-download-website" data-text="Contact"
                        data-img="#">Contact</a></li>
            </ul>
            <div class="navigation-close hover about-close opacity">
                <div class="navigation-close-line"></div>
                <div class="navigation-close-line"></div>
            </div>

            <div class="project-preview"></div>


            <!-- HEADPHONE IMG -->
            <div class="headphone-navigation opacity">
                <img src="images/ak.jpg" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->


            <!-- SOCIAL MEDIA LINKS -->
            <div class="social-media-links-navigation">
                <ul>
                    <li><a href="https://www.linkedin.com/in/akash-singh-306bab229/" class="text hover opacity">LI</a></li>
                    <li><a href="https://github.com/AK2k30" class="text hover opacity">GIT</a></li>
                    <li><a href="https://www.instagram.com/__akash._.2k22_/" class="text hover opacity">IG</a></li>
                </ul>
            </div>
            <!-- SOCIAL MEDIA LINKS -->

        </div>

        <!-- NAVIGATION CONTENT -->





    </main>
    <!-- MAIN CONTENT -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
</body>

</html>