<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKASH | Portfolio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!--favicon-img-->
    <link rel="icon" type="image/png" href="images/ak.jpg">
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">


</head>

<body>
    <!-- MAIN CONTENT -->
    <main id="index-one">



        <!-- CUSTOM CURSOR -->
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>
        <!-- CUSTOM CURSOR -->

        <!-- PRELOADER -->
        <div id="preloader">
            <div class="p">
                <!-- <img src="images/ak.jpg" alt="headphone"> -->
                Portfolio Loading....
            </div>
        </div>
        <!-- PRELOADER -->


        <!-- HEADER -->
        <div id="header">

            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                    <a href="#" class="text">AKASH SINGH</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->




            <!-- SOCIAL-MEDIA-LINKS -->
            <div class="social-media-links">
                <ul>
                    <li><a href="https://www.linkedin.com/in/akash-singh-306bab229/" data-text="Youtube" class="text hover"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/AK2k30" data-text="Facebook" class="text hover"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/__akash._.2k22_/" data-text="Instagram" class="text hover"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <!-- SOCIAL-MEDIA-LINKS -->

            <!-- HEADPHONE IMG -->
            <div class="headphone img text">
                <img src="images/ak.jpg" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->



            <!-- NEW RELEASE -->
            <div class="new-release img text">


                <img src="images/aka.jpg" alt="new-release">
                <div class="song-details">
                    <div class="song-name">About me</div>
                    <div class="singer-name">Click to know more</div>
                    <div class="music-player">
                        <div class="play-song">
                            <a src=""  data-song="darkfire" class="hover">
                        </div>
                        <div class="all-songs">
                            <a href="blog-one.html" title="All Songs"><i class="gg-arrow-right"></i></a>
                        </div>
                    </div>
                </div>


            </div>
            <!-- NEW RELEASE -->


        </div>
        <!-- HEADER -->


        <!-- NAVIGATION CONTENT -->

        <div class="navigation-content">
            <div class="navigation-logo hover opacity">
                <a href="#" class="text">AKASH SINGH</a>
            </div>
            <ul class="navigation-ul">
                <li><a href="index-one.html" data-text="Home" data-img="#">Home</a></li>
                <li><a href="blog-single.html" data-text="About" data-img="#">About</a></li>
                <li><a href="blog-single1.html" data-text="Songs" data-img="#">Project's</a></li>
                <li><a href="exp.html" data-text="Blogs" data-img="#">Experience</a></li>
                <li><a href="https://akashprofile.my.canva.site/light-blue-simple-light-app-download-website" data-text="Contact"
                        data-img="#">Contact</a></li>
            </ul>
            <div class="navigation-close hover about-close opacity">
                <div class="navigation-close-line"></div>
                <div class="navigation-close-line"></div>
            </div>

            <div class="project-preview"></div>


            <!-- HEADPHONE IMG -->
            <div class="headphone-navigation opacity">
                <img src="images/ak.jpg" title="headphone zone" class="text" alt="headphone">
            </div>
            <!-- HEADPHONE IMG -->


            <!-- SOCIAL MEDIA LINKS -->
            <div class="social-media-links-navigation">
                <ul>
                    <li><a href="https://www.linkedin.com/in/akash-singh-306bab229/" class="text hover opacity">LI</a></li>
                    <li><a href="https://github.com/AK2k30" class="text hover opacity">GIT</a></li>
                    <li><a href="https://www.instagram.com/__akash._.2k22_/" class="text hover opacity">IG</a></li>
                </ul>
            </div>
            <!-- SOCIAL MEDIA LINKS -->

        </div>

        <!-- NAVIGATION CONTENT -->



    </main>
    <!-- MAIN CONTENT -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>

</body>

</html>